* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
    background: #131313;
}

.app-container {
    display: flex;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.logo img {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.not-shown {
    display: none;
}
